services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  JingdongCloudTradeBundle\Controller\:
    resource: '../../Controller/'
  JingdongCloudTradeBundle\Repository\:
    resource: '../../Repository/'
  JingdongCloudTradeBundle\Service\:
    resource: '../../Service/'
    public: true
  JingdongCloudTradeBundle\EventSubscriber\:
    resource: '../../EventSubscriber/'
    public: true
  JingdongCloudTradeBundle\Command\:
    resource: '../../Command/'
